.one  {
	background-color: black;
}

.two {
	width: 200px;
	height: 200px;
}

#idUno {
	background-color: orange;
	width: 200px;
	height: 200px;
	border: 5px pink;
}

#idDos {
	background-color: skyblue;
	width: 200px;
	height: 200px;
}




.two, #idUno, #idDos {
	display: inline-block;
}
